#landingPage{
    height: 90vh;
    position:absolute;
    width: 100%;
    left: 0;
    top: 0;
    background:linear-gradient(rgba(0, 0, 0, 0.786),rgba(0, 0, 0, 0.767)),url(gg10.jpg) fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#landingPage h3{
    position: absolute;
    top: 20px;
    color: rgb(81, 255, 0);
    font-size: 90px;
}
#landingPage .welcome{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#landingPage h1{
    font-size: 80px;
    color:  rgb(5, 5, 5);
    width: fit-content;
    font-family:cursive;
}
#landingPage h2{
    font-size: 50px;
    color: rgb(8, 253, 0);
    width: fit-content;
}
#login{
    position: absolute;
    right: 40px;
    top: 23vh;
    width: 300px;
    height: 100px;
    border:2px solid yellow;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    border-top-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
#login:hover{
    color: red;
    cursor: pointer;
}
#login:active{
    background-color: rgb(73, 73, 73);
}

.welcome{
    position: absolute;
    top: 30vh;
    width: 80%;
    background-color: white;
    height: 63vh;
}
/* >>>>>>>>>>about section */
#about{
    position: absolute;
    top: 90vh;
    left: 0;
    background-color: rgb(184, 184, 184);
    width: 100%;
    height: 70vh;
    display: flex;
    /* flex-wrap: wrap; */
}

#about .col3{
    width: 26%;
    height: fit-content;
    margin: 2%;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 6px 6px 10px black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(135deg,rgba(23, 255, 2, 0.7),rgba(255, 2, 2, 0.7),rgba(255, 255, 0, 0.733));
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    background-position: center;
}
#about .col3 p{
    width: 80%;
    font-size: 26px;
    
}
/* >>>>>>>>>>reviews section */
#reviews{
    position: absolute;
    top:160vh ;
    left: 0;
    height: 60vh;
    width: 100%;
    background:rgb(180, 179, 179);
    text-align: center;
}
#reviews h2{
    color: black;
    font-size: 28px;
}
#reviews .review{
    display: flex;
}
#reviews .review .rev{
    width: 200px;
    height: 250px;
    background-color: white;
    margin-right: 100px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 6px 6px 10px 3px black;
}
/* >>>>>>>>>>contact section */

#contact{
    position: absolute;
    top: 220vh;
    left: 0;
    background:linear-gradient(hsla(0,0%,0%,0.7),hsla(0,0%,0%,0.7)),url(gg12.jpg) fixed;

    background-size: cover;
    height: 70vh;
    width: 100%;
    
}
#contact button{
    position: absolute;
    right: 40px;
    top: 40px;
    width: 300px;
    height: 100px;
    border:2px solid yellow;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    border-top-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
#contact button:hover{
    color: red;
    cursor: pointer;
}
#contact button:active{
    background-color: rgb(73, 73, 73);
}
#contact .contacts{
    background-color: white;
    width: 80%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 10%;
    text-align: center;
}
#contact .contacts h1{
    font-size: 30px;
}
#contact .contacts p{
    font-size: 30px;
}
/* LOGIN form section */
.backs{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(3, 3, 3, 0.568);
    display: none;
}
#form1 #x{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#form1{
    position: fixed;
    width: 500px;
    background-color: rgb(182, 179, 179);
    height: 600px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 35%;
    top: 10%;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family:cursive;
}

#form1 input{
   height: 50px;
    width: 300px;
    margin-bottom: 50px;
    border: none;
    border-radius: 10px;
}
#form1 #submitBtn{
    width: 60%;
    height: 50px;
    border: 2px solid yellow;
    background-color: black;
    color:white;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-weight: 800;
    margin-left: 20%;
}
#form1 #submitBtn:hover{
    color: red;
    cursor: pointer;

}
#form1 #submitBtn:hover:active{
    background-color: rgb(73, 72, 72);
}
/* >>>>>>>>>>header section */
header #x2{
    display: none;
}
header{
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: space-between;
    top: 0;
    background: rgba(0, 0, 0, 0.671);
    left: 0;
    height: 80px;
}
header .list ul{
    display: flex;
    color: rgb(251, 255, 0);

}
header .list ul li{
    width: 100px;
    list-style-type:none;
    font-size: 20px;
    margin-right: 10px;
}
header .logo img{
    width: 100px;
}
/* header .list ul li::after{
    content: '';
    position:absolute;
    background: red;
    height: 3px;
    width: 100%;
    left: 0;
    transition: 1s;
}
header .list ul li:hover::after{
    width: 50%;
} */

.message{
    position: fixed;
    background-color: rgb(0, 245, 0);
    width: 400px;
    height:200px;
    color: white;
    display:flex;
    left: 40%;
    border-radius: 10px;
    text-align: center;
    display: none;
    transition: 10s;
}














@media (max-width:600px) {
    #landingPage{
        height: 90vh;
        position:absolute;
        width: 100%;
        left: 0;
        top: 0;
        background:linear-gradient(rgba(0, 0, 0, 0.786),rgba(0, 0, 0, 0.767)),url(gg10.jpg) fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #landingPage h3{
        position: absolute;
        top:30px;
        color: rgb(81, 255, 0);
        font-size: 60px;
    }
    #landingPage .welcome{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #landingPage h1{
        font-size: 40px;
        color:  rgb(5, 5, 5);
        width: fit-content;
        font-family:cursive;
    }
    #landingPage h2{
        font-size: 20px;
        color: rgb(8, 253, 0);
        width: fit-content;
    }
    #login{
        position: absolute;
        right: 10px;
        top: 23vh;
        width: 190px;
        height: 80px;
        border:2px solid yellow;
        background-color: black;
        color: white;
        font-size: 20px;
        font-weight: 800;
        padding: 10px;
        border-top-left-radius: 19px;
        border-bottom-right-radius: 19px;
    }
    #login:hover{
        color: red;
        cursor: pointer;
    }
    #login:active{
        background-color: rgb(73, 73, 73);
    }
    
    .welcome{
        position: absolute;
        top: 30vh;
        width: 80%;
        background-color: white;
        height: 63vh;
    }
    /* >>>>>>>>>>about section */
    #about{
        position: absolute;
        top: 90vh;
        left: 0;
        background-color: rgb(184, 184, 184);
        width: 100%;
        height: 363vh;
        display: grid;
        
        /* flex-wrap: wrap; */
    }
    
    #about .col3{
        
        width: 80%;
        height: fit-content;
        margin: 2%;
        background-color: white;
        color: black;
        border-radius: 5px;
        box-shadow: 6px 6px 10px black;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background:linear-gradient(135deg,rgba(23, 255, 2, 0.7),rgba(255, 2, 2, 0.7),rgba(255, 255, 0, 0.733));
        background-repeat: no-repeat;
        mix-blend-mode: color-burn;
        background-position: center;
    }
    #about .col3 p{
        width: 80%;
        font-size: 26px;
        
    }
    /* >>>>>>>>>>reviews section */
    #reviews{
        position: absolute;
        top:450.5vh ;
        left: 0;
        height: 60vh;
        width: 100%;
        background:rgb(180, 179, 179);
        
    }
    #reviews h2{
        color: black;
        font-size: 28px;
    }
    #reviews .review{
        display: flex;
        
    }
    #reviews .review .rev{
        width: 250px;
        background-color: white;
        
        margin-top: 30px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 6px 6px 10px 3px black;
    }
    #reviews .review .rev h1{
        font-size: 28px;
    }
    #reviews .review .rev p{
        font-size: 20px;
    }
    /* >>>>>>>>>>contact section */
    
    #contact{
        position: absolute;
        top: 511vh;
        left: 0;
        background:linear-gradient(hsla(0,0%,0%,0.7),hsla(0,0%,0%,0.7)),url(gg12.jpg) fixed;
    
        background-size: cover;
        height: 70vh;
        width: 100%;
        
    }
    #contact button{
        position: absolute;
        right: 10px;
        top: 40px;
        width: 150px;
        height: 80px;
        border:2px solid yellow;
        background-color: black;
        color: white;
        font-size: 20px;
        font-weight: 800;
        padding: 10px;
        border-top-left-radius: 19px;
        border-bottom-right-radius: 19px;
    }
    #contact button:hover{
        color: red;
        cursor: pointer;
    }
    #contact button:active{
        background-color: rgb(73, 73, 73);
    }
    #contact .contacts{
        background-color: white;
        width: 80%;
        height: 50%;
        position: absolute;
        bottom: 0;
        left: 10%;
        text-align: center;
    }
    #contact .contacts h1{
        font-size: 30px;
    }
    #contact .contacts p{
        font-size: 30px;
    }
    /* LOGIN form section */
    .backs{
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(3, 3, 3, 0.568);
        display: none;
    }
    #form1 #x{
        position: absolute;
        width: 20px;
        height: 20px;
        right: 10px;
        top: 10px;
        cursor: pointer;
    }
    #form1{
        position: fixed;
        width: 80%;
        background-color: rgb(182, 179, 179);
        height: 600px;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 10%;
        top: 5%;
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family:cursive;
    }
    #form1 tr{
        display: flex;
        flex-direction: column;
    }
    #form1 input{
       height: 50px;
        width: 100%;
        margin-bottom: 50px;
        border: none;
        border-radius: 10px;
    }
    #form1 #submitBtn{
        width: 60%;
        height: 50px;
        border: 2px solid yellow;
        background-color: black;
        color:white;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-weight: 800;
        margin-left: 20%;
    }
    #form1 #submitBtn:hover{
        color: red;
        cursor: pointer;
    
    }
    #form1 #submitBtn:hover:active{
        background-color: rgb(73, 72, 72);
    }
    /* >>>>>>>>>>header section */
#menu{
    width: 30px;
    padding: 10px 10px 10px 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: fixed;
    top: 30px;
    left: 0;
    background-color: white;
}
    header #x2{
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        right: 5px;
        top: 5px;
        background: transparent;
        color: white;
        border: none;
    }
    header{
        position: fixed;
        width: 50%;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:baseline;
        top: 0;
        background: rgba(0, 0, 0, 0.795);
        left: -50%;
        height: 100%;
        transition: 1s;
    }
    header .list ul{
        display: flex;
        flex-direction: column;
        color: rgb(251, 255, 0);
        height: 50%;
    }
    header .list ul li{
        width: 100px;
        list-style-type:none;
        font-size: 20px;
        margin-right: 10px;
        margin-bottom: 200px;
    }
    header .logo img{
        width: 100%;
        height: 150px;
    }
    /* header .list ul li::after{
        content: '';
        position:absolute;
        background: red;
        height: 3px;
        width: 100%;
        left: 0;
        transition: 1s;
    }
    header .list ul li:hover::after{
        width: 50%;
    } */
    
    .message{
        position: fixed;
        background-color: rgb(0, 245, 0);
        width: 400px;
        height:200px;
        color: white;
        display:flex;
        left: 40%;
        border-radius: 10px;
        text-align: center;
        display: none;
        transition: 10s;
    }
}





